node-red/.flows.json.backup
[{"id":"592f9aceaad926b8","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"bc142fd5.b574a","type":"server","name":"Home Assistant","addon":true},{"id":"6d0254b8d951266e","type":"poll-state","z":"592f9aceaad926b8","name":"Mark","server":"bc142fd5.b574a","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"person.mark","state_type":"str","halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":50,"y":80,"wires":[["29376ceef8c86474"],["de5a5678e43e1066"]]},{"id":"29376ceef8c86474","type":"api-current-state","z":"592f9aceaad926b8","name":"Holly","server":"bc142fd5.b574a","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"person.holly","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":190,"y":80,"wires":[["1f246adc57eba8cc"],["de5a5678e43e1066"]]},{"id":"1f246adc57eba8cc","type":"api-current-state","z":"592f9aceaad926b8","name":"Guests","server":"bc142fd5.b574a","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_guest","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":80,"wires":[["720becaaf52db908"],["de5a5678e43e1066"]]},{"id":"720becaaf52db908","type":"api-call-service","z":"592f9aceaad926b8","name":"Occuppied OFF","server":"bc142fd5.b574a","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.house_occuppied"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":180,"wires":[[]]},{"id":"de5a5678e43e1066","type":"api-call-service","z":"592f9aceaad926b8","name":"Occuppied ON","server":"bc142fd5.b574a","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.house_occuppied"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":380,"wires":[[]]},{"id":"e2a8aa63a2f5e80a","type":"poll-state","z":"592f9aceaad926b8","name":"Holly","server":"bc142fd5.b574a","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"person.holly","state_type":"str","halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":50,"y":280,"wires":[["1e866414b3b0abcc"],["de5a5678e43e1066"]]},{"id":"1e866414b3b0abcc","type":"api-current-state","z":"592f9aceaad926b8","name":"Mark","server":"bc142fd5.b574a","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"person.mark","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":190,"y":280,"wires":[["7cd449f15381c842"],["de5a5678e43e1066"]]},{"id":"7cd449f15381c842","type":"api-current-state","z":"592f9aceaad926b8","name":"Guests","server":"bc142fd5.b574a","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_guest","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":280,"wires":[["720becaaf52db908"],["de5a5678e43e1066"]]},{"id":"94c17583337d398f","type":"poll-state","z":"592f9aceaad926b8","name":"Guests","server":"bc142fd5.b574a","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"input_boolean.house_guest","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":50,"y":460,"wires":[["de5a5678e43e1066"],["552132a6c42ae8a6"]]},{"id":"552132a6c42ae8a6","type":"api-current-state","z":"592f9aceaad926b8","name":"group","server":"bc142fd5.b574a","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"group.family_anyone","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":460,"wires":[["720becaaf52db908"],["de5a5678e43e1066"]]}]