node-red/.flows.json.backup
[{"id":"592f9aceaad926b8","type":"tab","label":"House Occuppied","disabled":false,"info":"","env":[]},{"id":"a78cd2a1.54db2","type":"tab","label":"QR Code","disabled":false,"info":""},{"id":"bc142fd5.b574a","type":"server","name":"Home Assistant","addon":true},{"id":"86a30dfd.fc7c1","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"e92d1794.a4b0d8","type":"mqtt-broker","name":"MQTT Localhost","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6d0254b8d951266e","type":"poll-state","z":"592f9aceaad926b8","name":"Mark","server":"bc142fd5.b574a","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"person.mark","state_type":"str","halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":40,"wires":[["29376ceef8c86474"],["de5a5678e43e1066"]]},{"id":"29376ceef8c86474","type":"api-current-state","z":"592f9aceaad926b8","name":"Holly","server":"bc142fd5.b574a","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"person.holly","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":210,"y":40,"wires":[["1f246adc57eba8cc"],["de5a5678e43e1066"]]},{"id":"1f246adc57eba8cc","type":"api-current-state","z":"592f9aceaad926b8","name":"Guests","server":"bc142fd5.b574a","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.visitors","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":40,"wires":[["720becaaf52db908"],["de5a5678e43e1066"]]},{"id":"720becaaf52db908","type":"api-call-service","z":"592f9aceaad926b8","name":"Occuppied OFF","server":"bc142fd5.b574a","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.house_occuppied"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":140,"wires":[[]]},{"id":"de5a5678e43e1066","type":"api-call-service","z":"592f9aceaad926b8","name":"Occuppied ON","server":"bc142fd5.b574a","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.house_occuppied"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":340,"wires":[[]]},{"id":"e2a8aa63a2f5e80a","type":"poll-state","z":"592f9aceaad926b8","name":"Holly","server":"bc142fd5.b574a","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"person.holly","state_type":"str","halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":240,"wires":[["1e866414b3b0abcc"],["de5a5678e43e1066"]]},{"id":"1e866414b3b0abcc","type":"api-current-state","z":"592f9aceaad926b8","name":"Mark","server":"bc142fd5.b574a","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"person.mark","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":210,"y":240,"wires":[["7cd449f15381c842"],["de5a5678e43e1066"]]},{"id":"7cd449f15381c842","type":"api-current-state","z":"592f9aceaad926b8","name":"Guests","server":"bc142fd5.b574a","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.visitors","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":240,"wires":[["720becaaf52db908"],["de5a5678e43e1066"]]},{"id":"94c17583337d398f","type":"poll-state","z":"592f9aceaad926b8","name":"Guests","server":"bc142fd5.b574a","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"switch.visitors","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":70,"y":420,"wires":[["de5a5678e43e1066"],["552132a6c42ae8a6"]]},{"id":"552132a6c42ae8a6","type":"api-current-state","z":"592f9aceaad926b8","name":"group","server":"bc142fd5.b574a","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"group.family_anyone","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":420,"wires":[["720becaaf52db908"],["de5a5678e43e1066"]]},{"id":"7997c1596181a0fd","type":"http in","z":"a78cd2a1.54db2","name":"Get trash-dismiss","url":"trash-dismiss","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["6fa512d4d9dd70e1","20d9692a1dd8816e"]]},{"id":"6fa512d4d9dd70e1","type":"http response","z":"a78cd2a1.54db2","name":"HTTP Response","statusCode":"200","headers":{},"x":300,"y":120,"wires":[]},{"id":"20d9692a1dd8816e","type":"api-call-service","z":"a78cd2a1.54db2","name":"Turn Off Trash Reminder","server":"bc142fd5.b574a","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.trash_cans"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":80,"wires":[[]]},{"id":"f13f6be289ec74a5","type":"http in","z":"a78cd2a1.54db2","name":"Get desk-lamp","url":"desk-lamp","method":"get","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["24f9246fbe5748be","41c24c88a22c6b98"]]},{"id":"24f9246fbe5748be","type":"http response","z":"a78cd2a1.54db2","name":"HTTP Response","statusCode":"200","headers":{},"x":300,"y":220,"wires":[]},{"id":"41c24c88a22c6b98","type":"api-call-service","z":"a78cd2a1.54db2","name":"Toggle Desk Lamp","server":"bc142fd5.b574a","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.basement_desk_lamp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":180,"wires":[[]]}]